.corpo {
    margin: 0;
    padding: 20px;
}

.card {
    width: 500px;
    height: fit-content;
    background-color: #E57500;
    border-radius: 25px;
    border: solid 5px #B25D00;
    padding: 5px;
}

.boxImage {
    width: 100px;
    height: 100px;
    background-color: #B25D00;
    border: 1px solid #B25D00;
    border-radius: 50px;
}

.estiloH1 {
    font-family: monospace, sans-serif;
    font-size: 30px;
    font-style: normal;
}

.color-blue {
    color: #FFB261;
}